{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'cv/img/favicon.jpg' %}"/>
  <meta name="description" content="My Personal Portfolio">
  <meta name="author" content="Engr. Ariel O. Anasco">

  <title>Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body style="background-color: white;">
  <div class="container" >
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom h4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="{{ profile.image.url }}" class="rounded-circle" width="80" height="80"> 
        </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'profile' %}" class="nav-link px-2 link-secondary">About</a></li>
        <li><a href="{% url 'projects' %}" class="nav-link px-2">Projects</a></li>
        <li><a href="{% url 'skills' %}" class="nav-link px-2">Skills</a></li>
        <li><a href="{% url 'resume' %}" class="nav-link px-2">Resume</a></li>
      </ul>
    </header>
  </div>

    {% block content %}
    {% endblock %}
  <div class="container">
    <footer class="text-center py-3 my-4">
      <p class="text-body-secondary">© gingineer.online 2023</p>
      <p class="text-body-secondary">Powered by
      <figure class="figure">
        <img src="{% static 'cv/img/flaticon.jpg' %}" style="height:50px;width: 50px;"
          class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">
          <a href="https://www.flaticon.com/" title="progress animated icons">Flaticon</a>
        </figcaption>
      </figure>
      <figure class="figure">
        <img src="{% static 'cv/img/bootstrap.png' %}" style="height:50px;width: 50px;"
          class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption"><a href="https://getbootstrap.com/">Bootstrap5</a></figcaption>
      </figure>
      <figure class="figure">
        <img src="{% static 'cv/img/django.png' %}" style="height:50px;width: 50px;" class="figure-img img-fluid rounded"
          alt="...">
        <figcaption class="figure-caption"><a href="https://www.djangoproject.com/">Django</a></figcaption>
      </figure>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>