{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Hi! I'm {{ profile.title }} {{profile.user.first_name}}
        {{ profile.user.last_name }}.</h1>
      <p class="col-lg-10 fs-4">{{ profile.intro }}</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <img src="{{ profile.image.url }}" style="height: 300px;width: 300px;"
        class="rounded-circle img-fluid d-block mx-auto pt-2" alt="Me!">
    </div>
  </div>
  <hr>
  <div class="row py-5">
    <div class="text-center">
      <img src="{% static 'cv/img/engineer.gif' %}" style="height: 200px;width: 200px;"
        class="img-fluid d-block mx-auto pt-2" alt="Me!">
      <h1 class="display-5 fw-bold text-body-emphasis">When not working...</h1>
    </div>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Exploring new places on my own allows me to experience different cultures, meet interesting people, and grow as
        an
        individual. It gives me independence and helps me appreciate the beauty of nature. These hobbies bring
        excitement and
        tranquility to my life.</p>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">
      {% for gallery in galleries %}
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('{{ gallery.image.url }}');background-size: auto; background-size: cover;background-size: cover;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h4 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ gallery.description }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="row row-cols-1 row-cols-md-2 py-5">
    <div class="col d-flex flex-column align-items-center gap-2">
      <div class="text-center">
        <img src="{% static 'cv/img/student.gif' %}" height="200px" width="200px" class="img-fluid d-block mx-auto pt-2"
          alt="Me!">
        <h1 class="display-5 fw-bold text-body-emphasis">I graduated as...</h1>
      </div>
      <p class="lead mb-4">
        an Electronics Engineer from Systems Plus College Foundation, following a journey that began at Sapalibutad
        Elementary
        School and continued at Gov. Rafael L. Lazatin Integrated School for my secondary education. These institutions
        have
        provided me with a strong foundation in education, fostering my passion for electronics and engineering. Through
        these
        formative years, I have acquired the knowledge, skills, and experiences necessary to thrive in the field of
        electronics
        engineering. I am grateful for the guidance and support of my teachers and mentors along the way, and I am eager
        to
        apply my expertise and contribute to the advancements in this ever-evolving field.
      </p>
    </div>
    <div class="col d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
      <!-- <div class="list-group list-group-checkable d-grid gap-3 border-0">
        {% for education in educations %}
        <label class="list-group-item rounded-3 py-3 shadow" for="listGroupCheckableRadios1">
          <img src="{{ education.image.url }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          {{ education.school|upper }}
          <span class="d-block small">{{ education.description }}</span>
        </label>
        {% endfor %}
      </div> -->
      <div class="bg-body rounded shadow ">
        {% for education in educations %}
        <div class="d-flex text-muted pt-3 ">
          <img src="{{ education.image.url }}" alt="twbs" width="50" height="50" class="bd-placeholder-img flex-shrink-0 mx-4 rounded">
          <p class="pb-3 pe-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">{{ education.school|upper }}</strong>
            {{ education.description }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  <div class="row py-5">
    <div class="text-center p-3">
      <img src="{% static 'cv/img/certificate.gif' %}" height="200px" width="200px"
        class="img-fluid d-block mx-auto pt-2" alt="Me!">
      <h1 class="display-5 fw-bold text-body-emphasis">Im a licensed...</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col d-flex flex-column flex-md-row align-items-center justify-content-center">
        <!-- {% for license in licenses %}
        <label class="list-group-item rounded-3 py-3 shadow" for="listGroupCheckableRadios1">
          <img src="{{license.image.url}}" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
          {{license.license}}
          <span class="d-block small">License No. {{license.license_no}}</span>
          <span class="d-block small">{{license.license_org}}</span>
        </label>
        {% endfor %} -->
        <div class="bg-body rounded shadow ">
          {% for license in licenses %}
          <div class="d-flex text-muted border-bottom">
            <img src="{{license.image.url}}" alt="twbs" width="100" height="100" class="bd-placeholder-img flex-shrink-0 m-2 rounded">
            <p class="pe-3 my-auto small lh-sm">
              <strong class="d-block text-gray-dark">{{license.license}}</strong>
              License No. {{license.license_no}}<br>
              {{license.license_org}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col d-flex flex-column align-items-center gap-2">
        <p class="lead mb-4">
          Electronics Engineer and Electronics Technician.With this combined knowledge and licensure, I am equipped to
          tackle
          complex projects, troubleshoot electronic systems, and contribute to the advancement of technology. I am
          passionate
          about my profession and excited to utilize my skills to drive innovation and deliver high-quality solutions.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center">
      <img src="{% static 'cv/img/bricks.gif' %}" style="height: 200px;width: 200px;"
        class="img-fluid d-block mx-auto pt-2" alt="Me!">
      <h1 class="display-5 fw-bold text-body-emphasis">I use a variety of software development tools...</h1>
    </div>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        and technologies, including programming languages like Python and
        JavaScript, web development frameworks like Django and React, version control systems like Git, and IDEs like
        Visual
        Studio Code. Additionally, I work with databases such as MySQL and PostgreSQL, and utilize tools like Docker and
        Jenkins
        for efficient development and deployment processes.
      </p>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 text-center g-1 pt-1 pb-5">
      {% for stack in stacks %}

      <figure class="figure ">
        <img src="{{ stack.image.url}}" style="height: 80px;width: 80px;" class="figure-img img-fluid rounded shadow"
          alt="...">
        <figcaption class="figure-caption">{{stack.name}}</figcaption>
      </figure>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}