{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">My works... <span class="text-muted">as a Software Developer</span></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                I specialize in web development and backend development. With a strong focus on these areas, I have
                successfully completed
                multiple projects that involve creating and enhancing web applications and building robust backend
                systems. My expertise
                lies in utilizing various technologies and frameworks to deliver efficient, secure, and scalable
                solutions. I take pride
                in my ability to contribute to the development and improvement of websites and backend infrastructure,
                ensuring smooth
                functionality and seamless user experiences.
            </p>
        </div>
        <div class="overflow-hidden" style="max-height: 20vh;">
            <div class="container px-5">
                <img src="{% static 'cv/img/list.gif' %}" style="height: 300px;width: 300px;"
                    class="img-fluid d-block mx-auto pt-2" alt="Me!">
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}
        <div class="col">
            <div class="card h-100 ">
              <img src="{{ project.image.url }}" style="max-height: 200px;" class="card-img-top mx-auto" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.role }}</p>
            </div>
            <div class="card-footer bg-white">
                {% if project.url %}
                <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View</a>
                {% else %}
                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-secondary disabled">View</a>
                {% endif %}

            </div>
            </div>
          </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}