{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Heads up before you...<span class="text-muted">download</span></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                This CV is intended for the recipient's reference only and contains confidential information. Unauthorized
                distribution or use of this CV is strictly prohibited. The information provided may not be accurate or up to
                date. By downloading this CV, you agree to respect its confidentiality and use it solely for evaluating my
                qualifications. Thank you for your understanding.
            </p>
        </div>
        <div>
            <div class="container p-5">
                <img src="{% static 'cv/img/idea.gif' %}" style="height: 200px;width: 200px;"
                    class="img-fluid d-block mx-auto pt-2" alt="Me!">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{% url 'download' %}" class="btn btn-outline-secondary btn-lg px-4">I agree</a>
                    </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}