{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">My stacks as... <span class="text-muted">a Software Developer</span></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                I rely on a diverse set of tools and technologies. This includes programming languages like Python and JavaScript, web
                frameworks such as Django and React, version control systems like Git, and database like MySQL. I also
                leverage tool like GitLab to streamline development and deployment processes, ensuring efficiency and
                quality in my projects.
            </p>
        </div>
        <div class="overflow-hidden" style="max-height: 15vh;">
            <div class="container px-5">
                <img src="{% static 'cv/img/loading.gif' %}" style="height: 300px;width: 300px;"
                    class="img-fluid d-block mx-auto pt-2" alt="Me!">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container">
            {% regroup stacks by category as stack %}
            {% for techs in stack %}
            <h1 class="display-5 fw-bold text-body-emphasis">{{ techs.grouper }}</h1>
            <div class="container mt-5 mb-5">
                <div class="row g-2">
                    {% for tech in techs.list %}
                    <div class="col-md-3">
                        <div class="card p-2 py-3 text-center h-100">
                            <div class="img mb-2"> <img src="/media/{{tech.image}}" width="70" class="rounded-circle"> 
                                <span class="position-absolute top-40 start-10 translate-middle badge rounded-pill bg-success">
                                    {{ tech.score }}%
                                    <span class="visually-hidden">Familiarity</span>
                                  </span>
                            </div>
                            <h5 class="mb-0">{{ tech.name }}</h5>
                            <div class="mt-4 ">
                                <p><small>
                                {{ tech.description}}
                                </small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}